.tableCuadro td :first-child{
    font-size: 11px;
      }

.table td :first-child{
        font-size: 10px;
}
.table2 td :first-child{
        font-size: 11px;
}
.table3 td :first-child{
        font-size: 11px;
}
.real{
        display: block;
}
/*
@media (min-width: 1280px){
html.sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox{
        width: 1340px;
        margin-left: -670px;
}
}*/